
#headerlogo{
    height: 80px;
    width: 900px;
    background-color: rgb(37, 134, 214);
    background-image: url("../img/pattern.png");
    background-size: 30%;
}



#headersublogo{
    width: 20%;
    height: 100%;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}