body{
    margin-top: 0;
}

#container{
    width: 1100px;
    height: 800px;
    margin-left: 120px;
}


header #headerlogo{
    width: 100%;
    height: 100px;
    background-color: aqua;
    margin: auto;
    background-color: rgb(37, 134, 214);
    background-image: url("../img/pattern.png");
    background-size:33%;

}


#headersublogo{
    width: 20%;
    height: 100%;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}


#author{
   color:rgb(37, 134, 214);
}

#caption{
    color: gray;
}

#data{
    color: gray;
    font-size: 10px;
}

figcaption{
    color: gray;
    font-size: 10px;
}


figure{
    margin: auto;
}

ul{
    list-style-position: inside;
    margin: 0;
    padding: 0;
}


table{
    padding-top: 20px;
    border-spacing: 0;
    width: 100%;
}
thead{
    background-color: rgb(79, 153, 250);
    color: white;
}


.smallcol{
    width: 20%;

}

.largecol{
    width: 50%;
}