body{
    margin-top: 0;
    
}
#container{
    width: 1100px;
    margin: auto;
}

#bonusbanner{
    width: 100%;
    height: 100px;
    background-color: rgb(24, 163, 255);
}
#headerlogo{
    width: 100%;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size:20%;

}


#headersublogo{
    width: 10%;
    height: 100%;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 200px;
}


#author{
   color:rgb(37, 134, 214);
}

#caption{
    color: gray;
}

#data{
    color: gray;
    font-size: 10px;
}

figcaption{
    color: gray;
    font-size: 10px;
}


figure{
    margin: auto;
}

ul{
    list-style-position: inside;
    margin: 0;
    padding: 0;
}


table{
    padding-top: 20px;
    border-spacing: 0;
    width: 100%;
}
thead{
    background-color: rgb(3, 138, 216);
    color: white;
}

.cyan{
    background-color: rgb(106, 191, 217);
}
.smallcol{
    width: 20%;
    text-align: left;

}

.largecol{
    width: 50%;
    text-align: left;
}


footer h4{
    color: gray;
}

#highlighted{
    background-color: lawngreen;
}


.article{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.one{
    background-image: url("../img/monitor.jpg");
}

.two{
    margin-top: 5px;
    background-image: url("../img/graph.jpg");
}

.under{
    color: white;
    font-size: 30px;
}